// Forms
.o_main_navbar {
  background-color: #71639e !important;
  border-bottom: 0px;
}

//.o_main_navbar .o_menu_apps .o_app_icon,
//                    .o_statusbar_status,
//                    .o_statusbar_server_values,
//                    .o_statusbar_server_status {
//  background-color: #007ee6; /* 更改为你想要的颜色 */
//}


.oe_inline {
  color: #fff;
  background-color: #4792c4;
  border-color: #71639e;
  float: left;
  margin-right: 10px;
}

.o_pivot {
  .o_pivot_cell_value {
    .o_value {
      text-align: center;
    }
  }
}

.o_form_view {
  .o_form_label {
    white-space: nowrap;
  }

  .o_form_sheet_bg {
    background: none !important;
    background-color: #F9F9F9 !important;
    padding: 0px;

    .o_form_sheet {
      border: 1px solid #d9d7d7;
      box-shadow: 0 5px 20px -15px black;
      width: 80%;
      left: 10%;
    }

    o_form_field {
      max-width: 100%;
    }
  }
}

.modal-lg, .modal-xl {
  max-width: 1280px;
}

.o_list_number {
  text-align: center;
  white-space: nowrap;
}